.node {
    cursor: pointer;
}

.node-label, .child-count, .select-label {
    paint-order: stroke;
    stroke: white;
    stroke-width: 2px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 800;
}

.link {
    fill: none;
    stroke: slategrey;
    stroke-width: 2px;
}